.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

.ChatContainer {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.MessagesContainer {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.Message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.UserMessage {
  background-color: #99ccff;
}

.OtherMessage {
  background-color: #e6e6e6;
}

form {
  display: flex;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.RoomButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

@media (max-width: 600px) {
  .ChatContainer {
    padding: 10px;
  }

  button {
    margin: 0 5px;
    padding: 8px 15px;
    font-size: 14px;
  }
}


.ReturnButton {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ReturnButton:hover {
  background-color: #c9302c;
}

